<!doctype html>
<html lang="{{ site_short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ site_name }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ltm2rvz.css">
    <link href="{{ mix src='/css/site.css' }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body>
    {{ partial src="nav" }}
    <!-- <nav class="py-4 px-12 flex justify-between items-center ">
        <a href="/" class="text-2xl text-purple-700 uppercase verveine flex items-center">
            {{ partial src="logo" }}
            Newest Newhouse
        </a>
        <div>
            {{ nav include_home="true" }}
                <a href="{{ url }}" class="p-2 hover:text-purple-700 focus:text-purple-700 {{ if is_current || is_parent }}text-purple-500{{ /if }}">{{ title }}</a>
            {{ /nav }}
        </div>
    </nav> -->
    <main class="container mt-16 mb-32">
        {{ template_content }}
    </main>
</body>

</html>