<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} — {{ settings:site_name }}</title>
        <meta name="description" content="{{ intro | strip_tags | entities }}">
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "blogPost",
              "name": "{{ title }}",
              "author": {
                "@type": "Person",
                "name": "{{ author:name }}"
              },
              "datePublished": "{{ date format="Y-m-d" }}",
              "description": "{{ intro | strip_tags | entities }}",
            }
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
        {{ partial:personality }}
    </head>
    <body class="bg-white dark:bg-gray-900 text-black dark:text-gray-200 font-body leading-normal personality-{{ settings:personality }}">
        {{ partial:layout.nav :site="site" }}

        <main class="py-12 lg:py-20">
            {{ template_content }}
        </main>

        {{ partial:layout/footer }}
        {{ partial:extras }}

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
