@tailwind base;

@tailwind components;

@tailwind utilities;

.verveine {
    font-family: verveine, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, ul, li {
    @apply text-gray-800 leading-6 text-lg;
}

p:not(:last-child), ul {
    @apply mb-4;
}

ul {
    @apply list-disc ml-6;
}

li {
    @apply mb-1;
}

a:not(.text-white) {
    @apply text-purple-600;

    &:hover {
        @apply text-purple-700;
    }

    &:focus {
        @apply text-purple-700 underline;
    }
}

h1 {
    @apply text-4xl verveine leading-6 mb-8;
}

h2 {
    @apply text-3xl verveine leading-6 mb-6 mt-8;
}

h3 {
    @apply text-2xl verveine leading-6 mb-4;
}

h4 {
    @apply text-xl verveine leading-6 mb-4;
}