<div class="w-full mx-auto my-12">
    <div class="embed-responsive aspect-ratio-16/9 mx-auto">
        {{ if video | is_embeddable }}
        <!-- Youtube and Video -->
        <iframe class="embed-responsive-item" src="{{ video | embed_url }}"></iframe>
        {{ elseif video | contains:drive}}
        <iframe class="embed-responsive-item mx-auto" src="{{ video | embed_url }}"></iframe>
        {{ else }}
        <!-- Other HTML5 video types -->
        <video class="embed-responsive-item" src="{{ video | embed_url }}"></video>
        {{ /if }}
    </div>
</div>