<nav x-data="{searching: false}" class="bg-gray-800 print:hidden">
    <div class="flex items-center justify-between h-16 max-w-5xl px-3 py-3 mx-auto">
        <a href="/" class="flex items-center space-x-4 text-xl font-bold hover:text-blue-700 dark:hover:text-blue-400" x-show="! searching">
            <span>{{ settings:site_name }}</span>
        </a>
        <div class="flex space-x-6">
            {{ nav:main }}
                <a href="{{ url }}" class="flex items-center space-x-4 font-bold hover:text-blue-700 dark:hover:text-blue-400">
                    {{ title }}
                </a>
            {{ /nav:main }}
            <button class="transition-all duration-100 outline-none hover:text-blue-400" @click="searching = true; $nextTick(() => { $refs.search.focus() })" aria-label="Search the site">
                {{ svg src="search-{settings:personality}" class="w-6 h-6" }}
            </button>
        </div>
        <form action="/search" x-show="searching" x-cloak class="flex-1">
            <input
                name="q"
                type="text"
                class="w-full px-2 py-1 ml-3 outline-none dark:bg-gray-900"
                placeholder="Search for stuff"
                x-on:blur="searching = false"
                @keydown.enter="search"
                @keydown.esc="searching = false"
                x-show="searching"
                x-ref="search"
            />
        </form>
    </div>
</nav>
