<article class="max-w-5xl px-3 mx-auto">
    <header class="max-w-3xl mx-auto text-center">
        <h1 class="heading">{{ title }}</h1>
        {{ intro }}
        <div class="flex items-center justify-center my-12">
            {{ if author }}
            <img src="{{ author:avatar ?? author:email | gravatar:160 }}" class="w-20 h-20 my-0 mr-4 rounded-full">
            {{ /if }}
            <div class="text-left">
                {{ if author }}
                <div>
                    <a class="font-bold no-underline" href="/authors/{{ author:handle }}">
                        <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-500">
                            {{ author:name }}
                        </span>
                    </a>
                </div>
                {{ /if }}
                <time datetime="{{ date format="Y-m-d" }}">{{ date }}</time>
            </div>
        </div>
    </header>
    <img class="rounded-xl" src="{{ hero_image }}" alt="{{ hero_image:alt }}">
    <section class="max-w-3xl py-6 mx-auto prose dark:prose-light lg:py-12">
        {{ partial:bard :bard_field="main_content"}}
    </section>

    {{ if settings:show_signup }}
        {{ partial:sign-up}}
    {{ /if }}

    <section class="grid max-w-3xl grid-cols-1 gap-6 py-6 mx-auto lg:py-12 md:grid-cols-2">
            {{ collection:previous limit="1" as="posts" }}
            <div class="mb-4">
                <h2 class="mb-4 text-xl leading-6">Previous Post</h2>
                {{ if no_results }}
                <p>Aww, there are no previous posts.</p>
                {{ /if }}

                {{ posts }}
                {{ partial:blog/card oversized="false" }}
                {{ /posts }}
            </div>
            {{ /collection:previous }}

            {{ collection:next limit="1" as="posts" }}
            <div class="mb-4">
                <h2 class="mb-4 text-xl leading-6">Next Post</h2>
                {{ if no_results }}
                <img src="https://media.giphy.com/media/lD76yTC5zxZPG/giphy.gif" alt="That's all folks Looney Toons gif"
                    class="mx-auto rounded-lg shadow">
                <p class="mt-1 text-sm italic text-center text-purple-800"><a
                        href="https://giphy.com/gifs/the-end-thats-all-folks-lD76yTC5zxZPG">via GIPHY</a></p>
                {{ /if }}

                {{ posts }}
                {{ partial:blog/card oversized="false" }}
                {{ /posts }}
            </div>
            {{ /collection:next }}
    </section>
</article>
