<h1 class="text-4xl verveine leading-6 mb-4">{{ title }}</h1>

<p class="text-purple-800 italic text-sm mb-8">Written by {{ author }} {{ name }} {{ /author }} on {{ date }}</p>

<article>
    {{ bard }}

    {{ if type == "text" }}

    <div class="text-gray-800 leading-6">
        {{ text }}
    </div>

    {{ elseif type == "images" }}

    <div class="py-8 flex flex-wrap -mx-4">
        {{ images }}
        <div class="w-1/2 mb-4 lg:mb-0 lg:flex-1 px-4 {{ if images > 0 }}h-64{{ /if }}">
            <div class="rounded-lg bg-cover bg-center h-full shadow" style="background-image: url({{ url }})">
                <img src="{{ url }}" alt="{{ alt }}" class="sr-only" />
            </div>
        </div>
        {{ /images }}
    </div>

    {{ elseif type == "image" }}
    <div class="py-8 flex">
        {{ image }}
        <img src="{{ url }}" alt="{{ alt }}" class="mx-auto rounded-lg shadow" />
        {{ /image }}
    </div>

    {{ /if }}

    {{ /bard }}
</article>

<div class="mt-8 border-t border-gray-200 pt-4">
    {{ collection:previous limit="1" as="posts" }}
    <div class="mb-4">
        <h2 class="text-xl verveine leading-6 mb-4">Previous Post</h2>
        {{ if no_results }}
        <p>Aww, there are no previous posts.</p>
        {{ /if }}

        {{ posts }}
        {{ partial:blog/small }}
        {{ /posts }}
    </div>
    {{ /collection:previous }}

    {{ collection:next limit="1" as="posts" }}
    <div class="mb-4">
        <h2 class="text-xl verveine leading-6 mb-4">Next Post</h2>
        {{ if no_results }}
        <img src="https://media.giphy.com/media/lD76yTC5zxZPG/giphy.gif" alt="That's all folks Looney Toons gif"
            class="mx-auto rounded-lg shadow">
        <p class="text-sm text-center mt-1 text-purple-800 italic"><a
                href="https://giphy.com/gifs/the-end-thats-all-folks-lD76yTC5zxZPG">via GIPHY</a></p>
        {{ /if }}

        {{ posts }}
        {{ partial:blog/small }}
        {{ /posts }}
    </div>
    {{ /collection:next }}
</div>